name: Tic-Tac-Toe Game

on:
  issues:
    types: [opened]
  workflow_dispatch:

jobs:
  play-game:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - name: Deploy the Game
        uses: im-avishek/ttt-readme@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
